{% extends "mortalysis/base.html" %}

{% load static %}

{% block content %}
    <div class="barra_superior">
        <h1>Análisis de Defunciones</h1>
    </div>
    <div class="down-cont">
        <form method="POST">
            {% csrf_token %}
            <div class="barra_control_lateral">
                <div class="var-select">
                    <select name="variable" class="form-control">
                        <option value="{{ vacio }}">--variable--</option>
                        <option value="{{ centro }}">Centro Médico</option>
                        <option value="{{ error }}">Errores Mortales</option>
                        <option value="{{ personal }}">Personal Médico</option>
                        <option value="{{ ubicacion }}">Ubicación</option>
                        <option value="{{ causa }}">Causa de Ingreso</option>
                    </select>
                </div>
                <div class="dinamic">

                </div>
                <div class="opciones">
                    <!--

                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Medidas de tendencia central
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
                            <label class="form-check-label" for="exampleRadios2">
                                Medidas de dispersión
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3" >
                            <label class="form-check-label" for="exampleRadios3">
                                Disabled radio
                            </label>
                        </div>
                    -->
                </div>
                <button name="btn-calc" class="btn boton-analisis-calculo" type="submit">Cálcular</button>
                <button name="btn-report" class="btn boton-reporte" type="submit">Generar Reporte</button>
            </div>
        </form>
            <div class="graphic">
                <div class="graficos">
                    <p class="total_datos"><strong>Total de Datos: &nbsp </strong> {{ total_datos }}</p>
                    <img src="{% static 'img/imagen_de_datos.png' %}" class="img-grafico">
                </div>
                <div class="row datos">

                    {% for v in variables %}
                    <div class="cont-variables">

                        <p class="titulo-variables"><strong>{{ v.Titulo}}</strong> </p>
                        <ul>
                            <li name="moda">Moda: {{ v.Moda }}</li>
                            <li name="mediana">Mediana: {{ v.Mediana }}</li>
                            <li name="media">Media: {{ v.Media}} </li>
                        </ul>
                        <ul class="medidas-desv">
                            <li name="desvest">Desviación Estándar: {{ v.Desvest }} </li>
                            <li name="coeficiente_var">Coeficiente de Variación: {{ v.Coeficiente }}</li>
                            <li name="rango">Rango: {{ v.Rango }} </li>
                        </ul>
                        
                    </div>
                    {% endfor %}
                    <div class="analisis-desc">
                        <h5><strong>Análisis Descriptívo</strong></h5>
                        {{ analisis_desc }}
                    </div>
                </div>
                
            </div>
    </div>

{% endblock %}