{% extends "mortalysis/base.html" %}

{% load static %}

{% block content %}
    <div class="barra_superior">
        <h1>Análisis de Defunciones</h1>
    </div>
    <div class="down-cont">

        <div class="barra_control_lateral">
            <div class="var-select">
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>--variable--</option>
                    <option>Hospital</option>
                    <option>Causas de Muerte</option>
                    <option>Personal Médico</option>
                    <option>Ubicación</option>
                    <option>Edad</option>
                </select>
            </div>
            <div class="opciones">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios1" value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        Medidas de tendencia central
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios2" value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        Medidas de dispersión
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="exampleRadios" id="exampleRadios3" value="option3" >
                    <label class="form-check-label" for="exampleRadios3">
                        Disabled radio
                    </label>
                </div>
            </div>
        </div>
        <div class="graphic">
            {% for dat in data %}
                <p>{{ dat }}</p>
            {% endfor %}
        </div>
    </div>

{% endblock %}