{% extends "mortalysis/base.html" %}

{% load static %}

{% block content %}
<div class="container mt-5 text-center">
    <!-- Mensaje de bienvenida -->
        <h1 class="display-4">¡Bienvenido a Mortalysis!</h1>
        
    <!-- Subtítulo con descripción -->
    <p class="lead mt-4">
        El Ministerio de Salud de Chile (MINSAL) enfrenta un desafío crítico: reducir la tasa de muertes hospitalarias
        atribuidas a negligencias y errores médicos. El proyecto "Mortalysis" se ha lanzado para proporcionar un
        registro integral de las defunciones y ayudar en la identificación de los grupos de pacientes más vulnerables.
    </p>
    <p>{{ data }}</p>

    <!-- Imagen -->
    <div class="mt-5">
        <img src="{% static 'img/MINSAL.png' %}" alt="MINSAL logo" class="img-fluid">
    </div>
</div>
{% endblock %}
