<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
    crossorigin="anonymous"
    />
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"
    integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+"
    crossorigin="anonymous"
    ></script>
    
    <link href="{% static 'css/reporte.css' %}" rel="stylesheet">


    <title>Reporte</title>
    
</head>
<body>
    <div class="header-reporte">
        <h2>Reporte de Mortalysis</h2>
    </div>
    <form method="GET">
        <button class="btn btn-volver" name="btn-volver" type="submit">Volver</button>
    </form>
    <div class="descripcion">
        <h3><strong>Análisis Descriptivo</strong></h3>
        <p>{{ analisis_desc }}</p>
    </div> 

    <div class="data-cont">
        <h3 class="titulo-datos"><strong>Datos</strong></h3>
        <div class="row ">
        {% for v in variables %}
            <div class="var-cont">
                <p ><strong>{{ v.Titulo }}</strong></p>
                <ul>
                    <li name="moda">Moda: {{ v.Moda }}</li>
                    <li name="mediana">Mediana: {{ v.Mediana }}</li>
                    <li name="media">Media: {{ v.Media}} </li>
                </ul>
                <ul class="medidas-desv">
                    <li name="desvest">Desviación Estándar: {{ v.Desvest }} </li>
                    <li name="coeficiente_var">Coeficiente de Variación: {{ v.Coeficiente }}</li>
                    <li name="rango">Rango: {{ v.Rango }} </li>
                </ul>
            </div>
        {% endfor %}
        </div>
    </div>
    <footer><p>Todos los derechos reservados. Instituto Profesional DUOC UC &copy; 2024</p></footer>
</body>
</html>